<div class="article-page">

  <div cr-for="article">

    <div class="banner">
      <div class="container">

        <h1>{{%title}}</h1>
        <article-meta cr-input="metaData, user, routeParams"></article-meta>

      </div>
    </div>

    <div class="container page">

      <div class="row article-content">
        <div class="col-md-12">
          {{#if %body}}{{{markdown %body}}}{{else}}No article available...{{/if}}
          <div>{{>tag-list %tagList}}</div><!-- TODO: doesn't work without <div>; blick -->
        </div>
      </div>

      <hr />

      <div class="article-actions">
        <article-meta cr-input="metaData, user, routeParams"></article-meta>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
          {{#if %isLoggedIn}}
          <article-comment-form cr-input="user, articleSlug"></article-comment-form>
          {{/if}}
          <article-comment-list cr-input="comments, articleSlug"></article-comment-list>
        </div>
      </div>

    </div>

  </div>

</div>