[cr-component="heroes"] button {
	background-color: #999;
	color: #eee;
	border-radius: 2px;
	border: 1px solid #999;
	padding: 2px 8px;
}

[cr-component="heroes-list"] {
	padding: 0;
	margin: 0;
}
[cr-component="heroes-list"] li {
	position: relative;
	display: block;
	list-style: none;
	background-color: #eee;
	border-radius: 4px;
	max-width: 225px;
	margin-top: 6px;
	transition: transform .1s;
}
[cr-component="heroes-list"] li:hover {
	transform: translateX(2px);
}
[cr-component="heroes-list"] a {
	text-decoration: none;
	display: block;
}
[cr-component="heroes-list"] li button {
	position: absolute;
	right: 0;
	top: 0;
	margin: 5px;
}

[cr-component="heroes-list"] .badge {
	padding: 12px;
	background-color: #607D8B;
	border-radius: 4px 0 0 4px;
	margin-right: 6px;
}