body{
	font: normal normal normal .80em/1.6em "Trebuchet MS", Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
	color: #333;
}
[cr-template-for] {
	display: none;
}
.item, .items {
	float: left;
	/*width: 50px;*/
	/*display: inline-block;*/
	height: 50px;
	line-height: 50px;
	/*text-align: center;*/
	border: 1px solid #aaa;
	border-radius: 3px;
	background-color: #efefef;
	margin: 0 4px 4px 0;
	padding: 0 6px;
	/*cursor: pointer;*/
}
.item {
	cursor: pointer;
}
.items {
	float: none;
	display: inline-block;
	background-color: #efefff;
}
.circularjs {
	 margin: 40px 10px 50px;  /* only for demo on this page */
}
.last {
	background-color: #ffefef;
}

/* -------------------- LOGO ------------------- */

.circularjs {
	position: relative;
	display: inline-block;
	letter-spacing: 2px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 55px;
	line-height: 97px;
	text-transform: uppercase;
}

.circularjs-logo {
	position: relative;
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border: 5px solid silver;
	border-radius: 50%;

	background-color: #E00000;
}
.circularjs-logo:before {
	content: "";
	display: block;
	position: absolute;
	box-sizing: border-box;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
	border: 11px solid #EEEEEE;
	border-right-color: transparent;
	border-radius: 50%;
}
.circularjs-logo:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	border-radius: 50%;
	background: radial-gradient(circle at 20%, transparent 30%, rgba(0, 0, 0, 0.8) 160%);
}
.circularjs-logo { /* only for combination with circularjs-text */
	float: left;
}

.circularjs-text {
	float: left;
	margin-left: 7px;
}
.circularjs-text .span {
	font-size: 63px;
}
.circularjs-text .em {
	color: #AA0000;
	font-size: 63px;
	vertical-align: bottom;
	font-family: Verdana, Geneva, sans-serif;
}

.circularjs-creator {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 14px;
	line-height: 16px;
	text-transform: none;
	letter-spacing: 0px;
}
.circularjs-creator .em {
	font-size: 16px;
	color: #AA0000;
}
.circularjs-creator .sup {
	font-size: 7px;
	margin-left: 1px;
}
/* ------------------ END: LOGO ----------------- */