@font-face { /* compensates wrong loading of fon in ttf mode */
  font-family: 'Ionicons';
  font-display: auto;
  src: url('//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1');
  src: url('//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1') format('embedded-opentype'),
       url('//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1') format('woff'),
       url('//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1') format('truetype'),
       url('//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg#Ionicons') format('svg');
}
[cr-view="app-modules"] {
  opacity: 1;
  transition: opacity .2s;
}
.article-list {
  opacity: 1;
  transition: opacity .3s;
}
.pending-app [cr-view="app-modules"] {
  opacity: 0;
}
.pending-sub-app .article-list {
  opacity: 0;
}

[cr-template-for], .hidden  {
	display: none;
}

[cr-cloak] {
  visibility: hidden;
}

articles,
article-preview,
.articles-toggle,
.feed-toggle {
	display: block;
}

[cr-view="preview"] {
  overflow: auto;
}

.articles .navbar-light .navbar-nav [href="#"],
.editor   .navbar-light .navbar-nav [href="#/editor"],
.settings .navbar-light .navbar-nav [href="#/settings"],
.login    .navbar-light .navbar-nav [href="#/login"],
.register .navbar-light .navbar-nav [href="#/login/register"] {
  color: rgba(0,0,0,.8);
}

.nav-user,
.nav-new-post,
.nav-new-settings {
  display: none;
}
.logged-in .nav-user,
.logged-in .nav-new-post,
.logged-in .nav-new-settings {
  display: block;
}
.logged-in .nav-sign-in,
.logged-in .nav-sign-up {
  display: none;
}
.logged-in .home-page > .banner {
  display: none;
}

.article-preview .tag-list .tag-default:hover {
  background-color: #818a91!important;
  color: white!important;
}
.article-preview .preview-link ul {
    text-align: right;
}
