html, body {
  height: 100%;
  font: normal normal normal .90em/1.6em  "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

[cr-for], [cr-cloak], .cr-cloak {
  display: none;
}

.game-board {
  display: inline-block;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 12px;
}
.header {
  text-align: center;
  padding: 2px 5px;
  margin: 0px -3px 3px;
  border-bottom: 1px solid #ccc;
}
.counter,
.timer {
  min-width: 1.6em;
  padding: 6px 6px;
  line-height: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: right;
  float: left;
  font-size: 1.5em;
  color: #666;
}
.timer {
  float: right;
}
select {
  display: block;
  border: none;
  font-size: inherit;
  color: #666;
  width: 100%;
  background-color: white;
}
select:focus {
  outline: none;
}
button {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 34px;
  border: 1px solid #aaa;
  border-radius: 50%;
  font-size: inherit;
  color: #666;
}
button:before,
button:after {
  content: "°";
  display: block;
  position: absolute;
  top: -4px;
  left: 0;
}
button:after {
  content: "o\00a0\00a0o";
  top: -9px;
  left: 7px;
  font-size: 8px;
}
button:before {
  content: "─";
  top: 2px;
  left: 7px;
}
.huh button:before {
  content: "o";
}
.loose button:before,
.win button:before {
  content: "(";
  transform: rotate(70deg);
}
.loose button:after {
  content: "x\00a0\00a0x";
}
.loose button:before {
  left: 12px;
}
.win button:before {
  transform: rotate(-70deg);
}

button:focus {
  outline: none;
}

button.green {
  background: green;
  color: white;
}

.board td {
  color: green;
  font-weight: bold;
  width: 15px;
  height: 15px;
  font-size: .9em;
  line-height: .8em;
  border: 1px #ccc dotted;
  border-radius: 10%;
  cursor: default;
}

.board .hidden {
  background: #eee;
}
.board .hidden:hover {
  background: #ccc;
}

.board .mine,
.board .mine:hover {
  background: sandybrown;
}
.board .mine:after {
  content: "o"
}
.board .mine.last {
  color: white;
  background: red;
}

.board .marked,
.board .marked:hover,
.board .open,
.board .open:hover {
  background: deepskyblue;
}

.board .marked:after {
  content: "!"
}
.board .open:after {
  content: "?"
}

.board .color-1 { color: blue; }
.board .color-2 { color: green; }
.board .color-3 { color: red; }
.board .color-4 { color: black; }
.board .color-5 { color: sandybrown; }
