body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 30px;
}

td {
	padding: 8px;
	text-align: center;
	border: 1px solid #aaa;
	cursor: default;
}
td:hover {
	background: #ccc;
	position: relative;
}

td:hover:after {
	content: attr(title);
	position: absolute;
	background: #999;
	border: 1px solid #333;
	color: #eee;
	width: 120px;
	height: 40px;
	line-height: 40px;
	left: calc(100% + 5px);
	top: 5px;
}

td:hover:before {
	content: '';
	position: absolute;
	background: #333;
	color: #eee;
	width: 10px;
	height: 10px;
	top: 9px;
	left: 100%;
	transform: rotate(45deg);
}

label {
	display: block;
}
.label {
	display: inline-block;
	width: 70px;
}
input {
	width: 300px;
}
