td {
	padding: 8px;
	text-align: center;
	border: 1px solid #aaa;
	cursor: default;
}
td:hover {
	background: #ccc;
}

label {
	display: block;
}
.label {
	display: inline-block;
	width: 70px;
}
input {
	width: 300px;
}