app-dashboard .hero {
	display: block;
	width: 20%;
	margin-right: 2%;
	float: left;
	background-color: #607D8B;
	color: #fff;
	text-align: center;
	border-radius: 4px;
}
app-dashboard .hero:hover {
	background-color: #ddd;
	color: #607D8B;
}
app-dashboard .hero h4 {
	line-height: 100px;
	font-size: 1em;
	white-space: nowrap;
}


app-search {
	display: block;
	margin-top: 2em;
}
app-search input {
	width: 200px;
}
app-search .search-result {
	margin: 0;
	padding: 0;
	list-style: none;
}
app-search .search-result li {
	display: block;
	list-style: none;
	width: 200px;
	padding: 6px;
	border: 1px solid #ccc;
	border-top: none;
}
app-search .search-result li a {
	display: block;
}