<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#/">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item {{#unless %visible}}hidden{{/unless}}" cr-for="navigation">
        <a class="nav-link{{#if %active}} active{{/if}}" href="#/{{%link}}">
          {{#if %image}}<img class="user-pic" cr-src="{{%image}}">{{/if}}
          {{#if icon}}<i class="ion-{{icon}}"></i>{{/if}}&nbsp;{{%title}}
        </a>
    </ul>
  </div>
</nav>