<div class="settings-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12" cr-for="model">
        <h1 class="text-xs-center">Your Settings</h1>

        <ul class="error-messages">
          {{#each %errors}}<li>{{message}}</li>{{/each}}
        </ul>

        <form cr-event="submit: submit">
          <fieldset>
              <fieldset class="form-group">
                <input class="form-control" type="text" name="image" value="{{image}}" placeholder="URL of profile picture">
              </fieldset>
              <fieldset class="form-group">
                <input class="form-control form-control-lg" name="username" value="{{username}}" type="text" placeholder="Your Name">
              </fieldset>
              <fieldset class="form-group">
                <textarea class="form-control form-control-lg" name="bio" value="{{bio}}" rows="8" placeholder="Short bio about you"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input class="form-control form-control-lg" name="email" value="{{email}}" type="text" placeholder="Email">
              </fieldset>
              <fieldset class="form-group">
                <input class="form-control form-control-lg" name="password" type="password" placeholder="Password">
              </fieldset>
              <button type="submit" class="btn btn-lg btn-primary pull-xs-right">
                Update Settings
              </button>
          </fieldset>
        </form>

        <hr>
        <button class="btn btn-outline-danger" cr-event="click: logout">
          Or click here to logout.
        </button>

      </div>

    </div>
  </div>
</div>