body {
	font: normal normal normal .95em/1.5em "Trebuchet MS", Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
	color: #333;
	max-width: 750px;
  margin: 0 auto;
}

[cr-component="git-test"] a {
  text-decoration: none;
  color: #f66;
}
[cr-component="git-test"] li {
  line-height: 1.5em;
  margin-bottom: 20px;
}
[cr-component="git-test"] .author, [cr-component="git-test"] .date {
  font-weight: bold;
}


.module-outlet pre {
	line-height: 12px;
  font-size: 12px;
}
section {
	padding: 1em;
}

[cr-template-for] {
	display: none;
}
.item, .items {
	float: left;
	height: 50px;
	line-height: 50px;
	border: 1px solid #aaa;
	border-radius: 3px;
	background-color: #e0e0e0;
	margin: 0 4px 4px 0;
	padding: 0 6px;
	user-select: none;
}
.item {
	cursor: pointer;
}
.items {
	float: none;
	display: inline-block;
	background-color: #e0e0ff;
}

.circularjs {
	 margin: 10px;  /* only for demo on this page */
}


.demo {
	border: 1px solid #aaa;
	border-radius: 6px;
}

demo-nav {
	display: block;
  margin: 0 -1em;
	border-bottom: 1px solid #aaa;
	padding: 0.75em;
}
demo-nav a {
	padding: 6px 9px;
	text-decoration: none;
}
demo-nav a.active {
	font-weight: bold;
	background: #eee;
}

.module-outlet {
	padding: 0 0.75em;
}
section.demo {
	padding-top: 0;
	border: 1px solid #aaa;
	border-radius: 6px;
}



/*body {
  font-family: Menlo, Consolas, monospace;
  color: #444;
}
*/
.tree {
  padding: .5em 2em;
}
.tree .leaf {
  cursor: pointer;
}
.tree .bold {
  font-weight: bold;
}
.tree ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: dot;
}
.tree .closed {
  display: none;
}



/* -------------------- LOGO ------------------- */

.circularjs {
	position: relative;
	display: inline-block;
	letter-spacing: 2px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 55px;
	line-height: 97px;
	text-transform: uppercase;
}

.circularjs-logo {
	position: relative;
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border: 5px solid silver;
	border-radius: 50%;

	background-color: #E00000;
}
.circularjs-logo:before {
	content: "";
	display: block;
	position: absolute;
	box-sizing: border-box;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
	border: 11px solid #EEEEEE;
	border-right-color: transparent;
	border-radius: 50%;
}
.circularjs-logo:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	border-radius: 50%;
	background: radial-gradient(circle at 20%, transparent 30%, rgba(0, 0, 0, 0.8) 160%);
}
.circularjs-logo { /* only for combination with circularjs-text */
	float: left;
}

.circularjs-text {
	float: left;
	margin-left: 7px;
}
.circularjs-text .span {
	font-size: 63px;
}
.circularjs-text .em {
	color: #AA0000;
	font-size: 63px;
	vertical-align: bottom;
	font-family: Verdana, Geneva, sans-serif;
}

.circularjs-creator {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 14px;
	line-height: 16px;
	text-transform: none;
	letter-spacing: 0px;
}
.circularjs-creator .em {
	font-size: 16px;
	color: #AA0000;
}
.circularjs-creator .sup {
	font-size: 7px;
	margin-left: 1px;
}
/* ------------------ END: LOGO ----------------- */