/* --- drag placeholder --- */
.place-holder {
	position: absolute;
	left: -999px;
	top: -999px;
	width: 100%;
	height: 1px;
	margin: 0;
	background-color: #999;
}
.is-top .place-holder {
	top: 0px;
}
.is-bottom .place-holder {
	top: auto;
	bottom: 0;
}
.is-middle .place-holder {
	top: 50%;
	height: 0px;
}
.is-top .place-holder, .is-middle .place-holder, .is-bottom .place-holder {
	left: 0;
}
.is-top, .is-middle, .is-bottom {
	overflow: hidden;
}
.place-holder:before, .place-holder:after {
	content: "";
	position: absolute;
	left: 0;
	top: -9px;
	border-color: transparent transparent transparent #888;
	border-width: 9px 7px;
	border-style: solid;
	transition: all 0.03s ease-out;
	/*z-index: 1;*/

}
.place-holder:after {
	left: initial;
	right: 0;
	border-color: transparent #888 transparent transparent;
}
.is-middle .place-holder:after, .is-middle .place-holder:before {
	top: -16px;
	border-width: 15px 10px;
}

/* --- drag --- */

.js-drag {
	cursor: default;
	width: 50%;
	max-width: 200px;
	box-shadow: 5px 5px 5px #000;
	border: 1px solid #ccc;
	max-height: 115px;
	overflow: hidden;
}
.js-drag.js-tree-leaf span {
	display: block;
	padding: 6px 20px;
}
.js-no-drop {
	cursor: no-drop;
}


/* --- sizer --- */
.js-tree-leaf .sizer {
	cursor: ns-resize;
	position: absolute;
	display: block;
	width: 100%;
	height: 12px;
	top: -7px;
	padding: 0;
	border: none;
	background-color: transparent;
}
.js-tree-leaf .sizer:before {
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	width: 100%;
	top: 50%;
	margin-top: -1px;
	border: 1px solid #bbb;
	border-width: 1px 0 0;
	background-color: #ddd;

}
.js-tree-leaf .sizer:after {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -1px;
	width: 26px;
	margin-left: -14px;
	border-top: 2px dotted #999;
	background-color: #ddd;
}

/* --- drop zone --- */
.js-drop {
	position: relative;
	padding: 24px;
	border: 1px solid #999;
	border-radius: 6px;
	/*text-align: center;*/
	transition: background 0.1s ease-out;
	width: 180px;
	margin: 12px;
	color: #333;
}
.disturbor {
	position: absolute;
	right: 12px;
	top: 12px;
	padding: 12px;
	border: 1px solid #999;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, .5);
}
.drag-over {
	background-color: #c00;
}

.link.drag-over {
	background-color: inherit;
}

.link.drag-over:before {
	content: "";
	position: absolute;
	left: 0;
	border-color: transparent transparent transparent #888;
	border-width: 16px 10px;
	border-style: solid;
	top: 0;
}

.drop {
	background-color: #00c;
}
/* ------------------ */

.bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.inner {
	height: calc(100% - 35px);
}

.plus-button {
	position: absolute;
	right: 6px;
    top: 5px;
    width: 21px;
    height: 21px;
	border: 1px solid #aaa;
	border-radius: 2px;
	/*background-color: #ddd;*/
	/*box-shadow: inset -1px -1px 1px rgba(255, 255, 255, .3);*/
	line-height: 24px;
    text-align: center;
    font-size: 25px;
    color: #888;
}
