.js-tree {
	position: relative;
	height: 100%;
	padding: 0;
	margin: 0;
	/*transform: translateZ(0);*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/*Tahoma, Geneva, sans-serif;*/
	/*"Trebuchet MS", Helvetica, sans-serif;*/
	/*Verdana, Geneva, sans-serif;*/

}
.js-tree-branch, .js-tree-leaf {
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: #eee;
}
.js-tree-leaf {
	position: relative;
	padding: 0;
	background-color: #ccc;
	text-transform: uppercase;
	cursor: default;
	border-top: 1px solid #ddd;
	/*box-sizing: border-box;*/
}
.js-tree-leaf .js-tree-leaf {
	background-color: #eee;
	text-transform: initial;
}
.js-tree-leaf .js-tree-leaf:last-child {
	/*border-bottom: 1px solid #bbb;*/
}
.js-tree-leaf .js-tree-leaf .js-tree-leaf:last-child {
	border-bottom: none;
}

.js-tree-leaf .link {
	display: block;
	position: relative;
	padding: 8px 12px;
	/*border-top: 1px solid #bbb;*/
	overflow: visible;
	color: #444;
	text-shadow: 1px 1px 0px #fff;
	text-decoration: none;
	cursor: default;
	border-bottom: 1px solid #bbb;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.js-tree-leaf .js-tree-leaf .link {
	padding: 6px 9px 6px 32px;
	border-bottom: none;
}
.js-tree-leaf .js-tree-leaf .link:before {
	content: '';
	display: block;
	position: absolute;
	left: 13px;
	top: 8px;
	/*margin-top: -10px;*/
	width: 13px;
	height: 13px;
	border-radius: 2px;
	border: 1px solid #ccc;
}
.js-tree-leaf.is-active {
	background-color: #fff;
}
.js-tree-leaf.is-active > .link {
	font-weight: bold;
	color: #328a32;
}
.js-tree-leaf .js-tree-branch .toggle {
	display: none;
	position: absolute;
	left: 2px;
	top: 50%;
	margin-top: -5px;
	border: 5px solid #777;
	border-width: 5px 3px 5px 7px;
	border-color: transparent transparent transparent #777;
	transition: transform 0.1s ease-out;
}
.js-tree-leaf.hasChildren > .link > .toggle {
	display: block;
}
.js-tree-leaf.isOpen > .link > .toggle {
	transform: translate(-2px, 2px) rotate(90deg);
}

.js-tree-branch .js-tree-leaf:not(.isOpen) > .js-tree-branch {
	height: 0;
}

/* ---- app ----- */
.js-no-drop .link {
	cursor: no-drop;
}
.js-tree-leaf .js-tree-leaf:before {
	content: '';
	display: block;
	position: absolute;
	left: 10px;
	top: 10px;
	/*margin-top: -10px;*/
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #c44;
}
.js-tree-leaf.bottom .js-tree-leaf:before {
	display: none;
}
.js-tree-leaf .js-tree-leaf .publish {
	content: '';
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	/*margin-top: -10px;*/
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #000;
	opacity: 0;
	transition: opacity .15s;
}
.js-tree-leaf.publishing > .link > .publish {
	background-color: #00F;
}
.js-tree-leaf .link:hover .publish, .js-tree-leaf.publishing  > .link > .publish {
	opacity: .3;
}
.js-tree-leaf.publishing > .link {
	padding-right: 31px;
}
.js-tree-leaf .link:hover {
	padding-right: 55px;
}
.js-tree-leaf .link .publish:hover {
	opacity: .6;
}



.js-tree-leaf .js-tree-leaf .dropdown {
	display: block;
	position: absolute;
	right: 35px;
	top: 12px;
	border: 5px solid #000;
	border-width: 7px 5px 3px 5px;
	border-color:  #000 transparent transparent transparent;
	opacity: 0;
	transition: opacity .15s;
}
.js-tree-leaf .link:hover .dropdown {
	opacity: .3;
}
.js-tree-leaf .link:hover .dropdown:hover {
	opacity: .5;
}
.js-tree-leaf .js-tree-leaf .dropdown:hover:after {
	content: '';
	display: block;
	position: absolute;
	left: -10px;
    top: -14px;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
	border-radius: 2px;
}
/* -------------- */

.js-tree-leaf ul .link {
	margin-left: 29px;
}
.js-tree-leaf ul ul .link {
	margin-left: 42px;
}
.js-tree-leaf ul ul ul .link {
	margin-left: 55px;
}
.js-tree-leaf ul ul ul ul .link {
	margin-left: 68px;
}

.js-tree .js-tree-leaf .js-tree-branch {
	overflow: auto;
}